asgiref==3.9.1
boto3==1.43.17
botocore==1.43.17
certifi==2025.8.3
charset-normalizer==3.4.3
dj-database-url==2.2.0
Django==5.2.5
django-anymail==13.0.1
django-cors-headers==4.9.0
django-msgraphbackend==1.0.0
django-ratelimit==4.1.0
django-recaptcha==4.0.0
django-storages==1.14.6
djangorestframework==3.16.1
easy-thumbnails==2.10.1
gunicorn==26.0.0
idna==3.10
jmespath==1.1.0
packaging==26.2
pillow==11.3.0
psycopg==3.2.13
psycopg-binary==3.2.13
python-dateutil==2.9.0.post0
python-decouple==3.8
reportlab==4.4.9
requests==2.32.5
s3transfer==0.18.0
six==1.17.0
sqlparse==0.5.3
stripe==14.2.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.9.0
